In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [8]:
import pandas as pd

# Load data without specifying 'parse_dates' and 'index_col' initially
file_path = 'D:\\JHanson\\Justice Hanson\\DS Career Accelerator\\Time-Series-Model-Health-Care-Delivery\\data\\synthetic_healthcare_data.csv'
df = pd.read_csv(file_path)

# Convert 'birthdate' to datetime format
df['birthdate'] = pd.to_datetime(df['birthdate'])

# Set 'birthdate' column as index
df.set_index('birthdate', inplace=True)

df.head()

,Name,Age,Patient_Visits,Blood_Pressure,Medication_Adherence,Hospital_Admissions,Weight_kg,Height_cm,Smoking_Status,Exercise_Minutes,Diet_Quality,Stress_Level,Cholesterol,marital,race,ethnicity,gender,birthplace
birthdate,,,,,,,,,,,,,,,,,,
2008-06-01,Thomas Harris,80,12,107.053185,0.510912,3,59.977830,169.353114,Ex-smoker,76,4.864086,9.356570,199.376713,Single,Hispanic,American,Male,Guinea-Bissau
1994-07-12,Joseph Frank,68,6,131.608268,0.831895,1,62.475648,170.728741,Smoker,52,1.522538,6.217634,147.028657,Widowed,White,Asian,Female,Heard Island and McDonald Islands
1998-05-30,Erik Braun,75,11,115.322988,0.981697,2,55.332148,170.731970,Smoker,59,2.487347,7.003332,217.568510,Single,Other,Asian,Male,Zimbabwe
2002-05-02,Terri Gibson,35,14,123.465039,0.780084,1,64.985979,168.497570,Ex-smoker,48,1.103356,9.204192,184.838986,Widowed,Hispanic,European,Female,Lao People's Democratic Republic
2008-03-01,Jeffrey Shaw,44,7,119.530794,0.968411,4,79.753125,181.917075,Non-smoker,55,1.887118,4.110582,199.323713,Married,White,European,Male,Finland

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 500 entries, 2008-06-01 to 1994-12-13
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  500 non-null    object
 1   Age                   500 non-null    int64
 2   Patient_Visits        500 non-null    int64
 3   Blood_Pressure        500 non-null    float64
 4   Medication_Adherence  500 non-null    float64
 5   Hospital_Admissions   500 non-null    int64
 6   Weight_kg             500 non-null    float64
 7   Height_cm             500 non-null    float64
 8   Smoking_Status        500 non-null    object
 9   Exercise_Minutes      500 non-null    int64
 10  Diet_Quality          500 non-null    float64
 11  Stress_Level          500 non-null    float64
 12  Cholesterol           500 non-null    float64
 13  marital               500 non-null    object
 14  race                  500 non-null    object
 15  ethnicity             500 non-null    object
 16  gender                500 non-null    object
 17  birthplace            500 non-null    object
dtypes: float64(7), int64(4), object(7)
memory usage: 74.2+ KB

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,500.0,49.718000,17.894438,18.000000,34.000000,50.000000,66.000000,80.000000
Patient_Visits,500.0,9.910000,3.228428,1.000000,8.000000,10.000000,12.000000,20.000000
Blood_Pressure,500.0,120.791281,10.141942,91.037446,113.893122,120.542979,127.353693,146.016831
Medication_Adherence,500.0,0.752532,0.143190,0.500783,0.637835,0.754461,0.875937,0.997719
Hospital_Admissions,500.0,2.000000,1.399971,0.000000,1.000000,2.000000,3.000000,7.000000
Weight_kg,500.0,70.520207,10.472133,40.705513,62.464826,70.776498,77.660024,98.684031
Height_cm,500.0,169.404569,9.899333,141.609213,162.873499,169.281220,175.708820,202.430930
Exercise_Minutes,500.0,59.840000,7.809506,40.000000,54.000000,60.000000,65.000000,87.000000
Diet_Quality,500.0,2.956110,1.173378,1.005713,1.928948,2.865749,4.066146,4.996829
Stress_Level,500.0,5.385252,2.520755,1.002169,3.253039,5.365515,7.345278,9.990142
Cholesterol,500.0,181.222530,29.868081,98.621623,160.998447,181.137190,202.772086,263.398909

In [11]:
df.duplicated().sum()

0